body {
  text-align: center;
  background-color: lightsteelblue;
}

img {
  width: 200px;
}

.person {
  border: 1px solid black;
  float: left;
  text-align: center;
  padding: 25px;
  width: 250px;
  margin: 2px;
  background: linear-gradient(gray, white);
  border-radius: 20px;
}
#people {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
